version: '3.8'

x-reticulum-node: &reticulum-node
  build: .
  image: thraxil/reticulum
  command: reticulum -config=/etc/reticulum/config.json

services:
  node0:
    <<: *reticulum-node
    volumes:
      - ./test/docker0.json:/etc/reticulum/config.json
      - /tmp/test/uploads0:/var/data/reticulum
    ports:
      - "8080:8080"
  node1:
    <<: *reticulum-node
    volumes:
      - ./test/docker1.json:/etc/reticulum/config.json
      - /tmp/test/uploads1:/var/data/reticulum
    ports:
      - "8081:8080"
  node2:
    <<: *reticulum-node
    volumes:
      - ./test/docker2.json:/etc/reticulum/config.json
      - /tmp/test/uploads2:/var/data/reticulum
    ports:
      - "8082:8080"
  node3:
    <<: *reticulum-node
    volumes:
      - ./test/docker3.json:/etc/reticulum/config.json
      - /tmp/test/uploads3:/var/data/reticulum
    ports:
      - "8083:8080"
  node4:
    <<: *reticulum-node
    volumes:
      - ./test/docker4.json:/etc/reticulum/config.json
      - /tmp/test/uploads4:/var/data/reticulum
    ports:
      - "8084:8080"
  node5:
    <<: *reticulum-node
    volumes:
      - ./test/docker5.json:/etc/reticulum/config.json
      - /tmp/test/uploads5:/var/data/reticulum
    ports:
      - "8085:8080"
  node6:
    <<: *reticulum-node
    volumes:
      - ./test/docker6.json:/etc/reticulum/config.json
      - /tmp/test/uploads6:/var/data/reticulum
    ports:
      - "8086:8080"
  node7:
    <<: *reticulum-node
    volumes:
      - ./test/docker7.json:/etc/reticulum/config.json
      - /tmp/test/uploads7:/var/data/reticulum
    ports:
      - "8087:8080"
  node8:
    <<: *reticulum-node
    volumes:
      - ./test/docker8.json:/etc/reticulum/config.json
      - /tmp/test/uploads8:/var/data/reticulum
    ports:
      - "8088:8080"
  node9:
    <<: *reticulum-node
    volumes:
      - ./test/docker9.json:/etc/reticulum/config.json
      - /tmp/test/uploads9:/var/data/reticulum
    ports:
      - "8089:8080"
