<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="brand" href="http://thraxil.github.com/reticulum/">Reticulum</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://thraxil.github.com/reticulum/">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://github.com/thraxil/reticulum" target="_blank">GitHub Page</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://thraxil.github.com/reticulum/TODO" target="_blank">TODO</a>
		  </li>

		</ul>		
	  </div>
	</div>
  </div>
</div>
