<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="brand" href="http://thraxil.github.com/reticulum/">Reticulum</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://thraxil.github.com/reticulum/">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="https://github.com/thraxil/reticulum">GitHub Page</a>
		  </li>

		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://thraxil.github.com/reticulum/install.html">Install</a>
		  </li>

		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://thraxil.github.com/reticulum/configure.html">Configure</a>
		  </li>

		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://thraxil.github.com/reticulum/architecture.html">Architecture</a>
		  </li>

		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://thraxil.github.com/reticulum/api.html">API</a>
		  </li>

		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://thraxil.github.com/reticulum/clients.html">Clients</a>
		  </li>

		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://thraxil.github.com/reticulum/contribute.html">Contribute</a>
		  </li>

		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://thraxil.github.com/reticulum/TODO.html">TODO</a>
		  </li>

		</ul>		
	  </div>
	</div>
  </div>
</div>
