name: Vulnerability Check
on:
  pull_request:
  push:

jobs:
  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libvips-dev
      - uses: imjasonh/govulncheck-action@v0.1
